@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

button {
    background-color:blueviolet;
    color: white;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: none;
    transition: transform 0.1s linear;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0;
    transform: translate(2px, 2px);
}
.link{
position:fixed ;
  top:87%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:transparent ;
width:300px;
text-align:center;
  color:black;
  font-weight:999;
  font-size:4vw;
  height:45px ;
  font-size:20px;
  padding-top:5px;
  border-radius:10px;
 margin-bottom:5vw;
 

 animation:anim 1s linear infinite  ;
}
@keyframes anim{
    0%{
        border-top:3px solid blueviolet;
    }
    25%{
        border-left:3px solid blueviolet;
    }
    50%{
        border-bottom:3px solid blueviolet;
    }
    75%{
        border-right:3px solid blueviolet;
}

